*{
    /* background-color: rgb(80, 80, 80); */
    color: black;
}

/* tag based */
table{
    border: 1px solid black;
}
/* tag based */
#table1
{
    border: 2px solid red;
}
/* class based */
.table2{
    border: 2px solid blue;
}